body {
    display: flex;
    justify-content: center;
}

#carcasaCalculadora {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    height: 40rem;
    width: 30rem;
    background-color: antiquewhite;
}

#marcoPantalla {
    display: flex;
    height: 3rem;
    width: 25rem;
    background-color: aqua;
    margin: 2rem;
    color: black;

}
#pantalla {
    display: flex;
    justify-self: center;
    height: 2rem;
    width: 22rem;
    background-color: white;
    color: black;
    margin-top: 0.5rem;
    margin-right: 0.5;
}

button {
    color: green;   
}

#chivatoOperador {
    display: flex;
    color: white;
    background-color: blue;
    width: 2rem;
    height: 2rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
