body {
    display: flex;
    justify-content: center;
}

#carcasaCalculadora {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    height: 40rem;
    width: 30rem;
    background-color: antiquewhite;
}

#marcoPantalla {
    height: 3rem;
    width: 25rem;
    background-color: aqua;
    margin: 2rem;
    color: black;

}
#pantalla {
    display: flex;
    justify-self: center;
    height: 2rem;
    width: 20rem;
    background-color: white;
    color: black;
    margin: 0.5rem;
}

button {
    color: green;   
}

p {
    color: black;
    background-color: white;
}